@import '../../../../styles/index';

:host {
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 20px;
  text-align: center;
  margin: auto 50px;
}

.answers {
  width: 285px;
  margin: auto;
}

.answer-text {
  &.selected {
    color: $foreground-highlight;
  }
}

.line {
  width: 100%;
  border-top: 1px solid $foreground;

  .selected & {
    border-color: $foreground-highlight;
  }
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $foreground;

  .selected & {
    border-color: $foreground-highlight;
  }
}

.line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  &:nth-child(odd) {
    z-index: 5;
  }

  &:first-child .lower {
    display: none;
  }

  &:last-child .upper {
    display: none;
  }

  &:nth-child(even) .line-container {
    transform: scaleX(-1);
  }
}
