@import '../styles/index';

$menubar-height: 50px;
$overlay-index: 10;

.menubar {
  display: flex;
  position: absolute;
  width: 100%;
  height: $menubar-height;
  top: 0;
  z-index: $overlay-index;
  justify-content: space-between;

  // Ensure that clicks are passed through
  pointer-events: none;

  // Ensure that clicks are captured on the buttons again
  button {
    pointer-events: all;
  }

  &.menu-opened {
    background: $background;
    pointer-events: all;
  }
}

.menu-button {
  border: none;
  outline: none;
  background: none;
  height: 30px;
  width: 30px;
  background-image: url(../assets/icon/svg/burger.svg);
  margin: 15px;

  &:active {
    background-image: url(../assets/icon/svg/burger.pressed.svg);
  }
}

.profile-container {
  position: absolute;
  top: $menubar-height;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  // $menubar-height
  height: calc(100% - 50px);
  background: $background;
  z-index: $overlay-index;
}

.profile {
  flex-grow: 1;
}
