@import '../../../../styles/index.scss';

:host {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: row;
  width: 100%;
}

input {
  width: 100%;
}

.login {
  margin: auto;
}

.register {
  font-family: $font-miriam-libre-bold;
  font-size: 20px;
  color: $foreground;
  text-align: center;
}
