@import '../../../../styles/index';

:host {
  margin: 20px 0 0 0;
  display: block;
  background-image: url(../../../../assets/profil.gr.klein.png);
  background-size: auto 751px;
  background-position-x: center;
  background-position-y: -60px;
  overflow-y: auto;
}

.expander {
  margin: auto 50px;
}

.edit-profile {
  background: gray;
}

.start {
  color: $background;
  background: $foreground-highlight;
  border-radius: 25px;
  outline: none;
  border: none;
  width: 144px;
  height: 51px;
  font-family: $font-family-standard;
  font-size: 20px;
  font-weight: bold;
}
