@import '../../../../styles/index';

:host {
  margin: 20px 0 0 0;
  background-image: url(../../../../assets/profil.gr.klein.png);
  background-size: auto 751px;
  background-position-x: center;
  background-position-y: -60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.expander {
  margin: auto 50px;
}

.edit-profile {
  outline: none;
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;
  background-image: url(../../../../assets/icon/svg/button.bearbeiten.svg);
  align-self: center;
  margin-bottom: 20px;
  margin-top: 90px;

  &:active {
    background-image: url(../../../../assets/icon/svg/button.bearbeiten.pressed.svg);
  }
}

.start {
  color: $background;
  background: $foreground-highlight;
  border-radius: 25px;
  outline: none;
  border: none;
  width: 144px;
  height: 51px;
  font-family: $font-family-standard;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}
