<div class=info-bar>
  <span>{{totalWeight}} g</span>
  <div class="delete"
       (click)="delete()">
    <div class="icon"
         [style.background-image]="'close' | icon:'normal':'svg'">
    </div>
  </div>
</div>

<div class="groceries">
  <div class="square"
       *ngFor='let grocery of groceries; let index = index'>
    <pf-grocery-button class="item"
                       [icon]="grocery.id"
                       [counter]="grocery.counter"
                       [alignment]="index % 2 === 0 ? 'left' : 'right'"
                       (increase)="increase(grocery)"
                       (decrease)="decrease(grocery)"></pf-grocery-button>
    <span *ngIf="!((groceries.length - 1) === index || (groceries.length - 2) === index)"
          class="seperator"></span>
  </div>
</div>
<pf-submit-button class="submit"
                  (click)="evaluateSavings()"></pf-submit-button>
