:host {
  display: block;
  position: relative;
}

.groceries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &>* {
    flex-basis: 50%;
  }
}

.submit {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
