/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'MiriamLibre';
  src: url('assets/font/MiriamLibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MiriamLibreBold';
  src: url('assets/font/MiriamLibre-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PatuaOne';
  src: url('assets/font/PatuaOne-Regular.ttf') format('truetype');
}
